@import "default";
@import "loading";

body {
  background: @colorL;
  font-family: "Helvetica Neue For Number", "PingFang SC Light", "Heiti SC", "San Francisco", "Helvetica", Arial, sans-serif;
}

ul,
li {
  list-style: none;
}

.clearfix {
  &:after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
  }
}

.container {
  display: flex;
  .nav-left {
    position: relative;
    width: 15%;
    min-width: 180px;
    color: #fff;
    height: calc(100vh);
    background-color: #001529;
    overflow: hidden;
  }
  .main {
    flex: 1;
    height: calc(100vh);
    background-color: @colorL;
    overflow: auto;
  }
  .content {
    text-align: left;
    position: relative;
    padding: 20px;
  }
}

.content {
  text-align: left;
  position: relative;
  padding: 20px;
}

.content-wrap {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: -3px;
  .ant-table-wrapper {
    margin-left: -1px;
    margin-right: -2px;
  }
}

.operate-wrap {
  button {
    margin-right: 10px;
  }
}
